<!DOCTYPE html>
<html>
<head>
    <title>Transaction Detail</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<a href="/homepage"><img width="98" height="100" style="clip:rect(47px, 118px, 95px, 0px); top:35px;left:50px;" alt="" src="/images/logo.jpg" id="gh-logo"></a>
</head>

<body>
<div>
    <h3>Sorry, no products found matching search criteria.</h3>
</div>

<div>
    <a href="/homepage" type="button" class="btn btn-primary">Homepage</a>
</div>
<br>
<br>
</body>
</html>