<!DOCTYPE html>
<html>
<head>
    <title>Thank You!</title>
    <a href="/homepage"><img width="98" height="100" alt="" src="/images/logo.jpg" id="gh-logo"></a>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    </head>

    <body>

    <% include ./navheader.ejs %>
            <br>

            <h3>Thank you for your shopping!<br>Your order has been placed!</h3>

    <div>
    <a href="/homepage" type="button" class="btn btn-primary">Homepage</a>
            </div>

            </body>
            </html>