<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidassignment.crossover.com.androidassignment">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
>
    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <application
        android:name=".BiddingInit"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".AddAuctionItem"
            android:label="@string/add_auction_item"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".PlaceBid"
            android:label="@string/place_bid"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".EditAuctionItem"
            android:label="@string/modify_auction_item"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".SignIn"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".SignUp"
            android:label="@string/sign_up_actionbar"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ForgotPassword"
            android:label="@string/forgot_pass_actionbar"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ChangePassword"
            android:label="@string/change_password"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".AuctionedHistory"
            android:label="@string/auctioned_history_title"></activity>
    </application>

</manifest>
